.account{
    background: linear-gradient(45deg,#ee0979,#ff6a00);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.account:hover{
    box-shadow: 2px 2px 10px black;
}

.account-details-header{
    background: linear-gradient(45deg,#ee0979,#ff6a00);
    color: white;
}

.account-balance{
    font-size: 2em;
    margin: 0px;
}

.account-link{
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create{
    margin-bottom: 15px;
}

.credit-transaction{
    color: green;
}

.debit-transaction{
   color: red;
}

.loan{
    background: linear-gradient(45deg,#ee09cf,#0026ff);
    color: white;
}

.menu-logo{
    width: 30px;
    height: 30px;
}

.welcome{
    background: linear-gradient(45deg,#ee0979,#ff6a00);
}

.welcome-logo{
    width: 60%;
}

.index-body{
    background-image: url(../img/avila.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.index-container{
    margin-top: 10%;
}

/************************************************************/
.banner-container {
    display: flex;
   /* overflow: hidden;*/
    width: 100%;
    animation: bannerAnimation 20s linear infinite;
    /*background-color: #646463;*/
}

.banner-item {
    flex-shrink: 0;
    margin-right: 20px;
}

.banner-item:last-child {
    margin-right: 0;
}

@keyframes bannerAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% + 20px));
    }
}
.img-crypto{
     max-width: 20px;
 }
