.account{
    background: linear-gradient(45deg,#ee0979,#ff6a00);
    color: white;
    box-shadow: 1px 1px 5px black;
}

.account:hover{
    box-shadow: 2px 2px 10px black;
}

.account-details-header{
    background: linear-gradient(45deg,#ee0979,#ff6a00);
    color: white;
}

.account-balance{
    font-size: 2em;
    margin: 0px;
}

.account-link{
    text-decoration: none;
}

.subtitle {
    display: inline;
}

#create{
    margin-bottom: 15px;
}

.credit-transaction{
    color: green;
}

.debit-transaction{
   color: red;
}

.loan{
    background: linear-gradient(45deg,#ee09cf,#0026ff);
    color: white;
}

.menu-logo{
    width: 30px;
    height: 30px;

}

.chat-logo{
    width: 60px;
    height: 60px;
}

.welcome {
    background: linear-gradient(45deg, rgba(4, 43, 97, 0.5), rgba(204, 223, 249, 0.5));
}



.welcome-logo{
    width: 60%;
}



.index-container{
    margin-top: 10%;
}

/************************************************************/
.divisas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.banner-container {
    display: flex;
    width: 100%;
    animation: bannerAnimation 20s linear infinite;
    position:absolute ;
}

.banner-item {
    flex-shrink: 0;
    margin-right: 20px;
}

.banner-item:last-child {
    margin-right: 0;
}

@keyframes bannerAnimation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% + 20px));
    }
}
.img-crypto{
     max-width: 20px;
 }
.index-body {
  position: relative; /* Asegura que el video se superponga correctamente */
}

body {
  position: relative;
  overflow: hidden; /* Evita el desplazamiento del video */
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login{
    color: white;
}

.label {
    color: white;
}

.form-control::placeholder {
    color: white;
    opacity: 0.5;
}

.details{
    height: 100%;
}

.chat-logo:hover {
  cursor: pointer;
}

.loading {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*button {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}*/

form-control {
  background: #fff;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  transform: skew(21deg);
}

form-control::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

form-control:hover {
  color: #fff;
}

form-control:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.divisas {
position: absolute;
}











